body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
  }
  
  .right-menu {
    position: absolute;
    top: 24px;
    right: 39px;
    padding-right: 109px; 
}

.sign-in-button {
    display: inline-block;
    background-color: rgb(224, 18, 18);
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 0%;
}

.sign-in-button:hover {
    background-color: #e50914; 
}

.navbar{
    height: 95px;
    width: 300px;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    text-decoration: none;
}

.card-title {
    font-size: 60px;
    margin-bottom: 38px;
    font-weight: 900;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    padding-left: 30px;
    
}


.card-subtitle{
    font-size: 18px;
    font-weight: 700;
    margin-top: -30px;
    padding-bottom: 38px;
    padding-left: 58px;
}
.email-form-title{
    font-size:15px;
    font-weight: 700;
    padding-bottom: 30px;
    padding-left: 52px;
}

.banner-wrap {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/73334647-ad51-42a9-b07b-93298cc2a8e1/2b0fca4f-c15c-4622-9efc-572c4a408c30/IN-en-20230605-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    border-bottom: 10px solid gray ;
    position: relative;
    z-index: 1;
}
.overlay{
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 60%;
}

h1 {
    font-size: 3.2rem;
    color: white;
}
h1: ::before{
    content: "THIS IS A HEADING"
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin: 0 45px;
    padding-top: 45px;
}

.navbar > svg {
    height: 40px;
    padding-left: 102px;
}

.banner-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88%;
    font-weight: 900;
    font-weight: bold;
}
.tv{
    font-size: 60px;
    padding-left: 60px;
}
.more{
    font-size: 60px;
    padding-left: 119px;
}
.get-started-form{
    height: 60px;
    display: flex;
    gap: 10px;
    padding-left: 55px;
    margin-bottom: -80px;
    margin-left: -10px;
}
.get-started-form input {
    height: 100%;
    width: 390px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.586); 
    border: 1px solid rgba(255, 255, 255, 0.5); 
    color: white; 
    border-radius: 5px;
    outline: none;
    box-shadow: none; 
}

.get-started-form input:focus {
    outline: none; 
    box-shadow: none; 
    border-color: white; 
}

.get-started-form input::placeholder {
    color: rgba(255, 255, 255, 0.5); 
}
.get-started-form button{
    background-color: red;
    color: white;
    height: 100%;
    font-size: 22px;
    min-height: 60px;
    padding-left: 10px;
    border-left: 1px solid;
    width: 210px;
    border: none 
    color: white;
    border-radius: 5px; 
    outline: none; 
    box-shadow: none;
}
.info-container{
    background: black;
    color: white;
    display: flex;
    padding: 70px 45px;
    border-bottom: 10px solid gray;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tv-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tv-container img{
    z-index: 1;
}
.tv-container video{
    position: absolute;
}
.footer {
    background-color: black; 
    color: white;
    padding: 70px 45px;
}

.footer-items {
    padding: 70px 45px;
    margin: 0 47.5px;
    font-size: 30px;
}

.footer ul li,
.questions-title {
    color: gray;
}

.footer-links li {
    font-size: 13px;
    line-height: 2;
}

.footer ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.questions-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-links {
    list-style-type: none;
    columns: 4;
    padding: 0;
}

.language {
    height: 40px; 
    width: 160px; 
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc; 
    padding: 0 9px;
    margin-top: 30px;
    border-radius: 5px; 
    background-color: #333; 
    gap: 10px; 
}

.language select {
    background-color: transparent; 
    color: white; 
    border: none; 
    font-size: 14px;
    appearance: none; 
    width: 100%; 
    padding: 5px 0; 
    cursor: pointer; 
}

.language select:focus {
    outline: none; 
    border: none; 
}

.language select option {
    background-color: #333; 
    color: white; 
    padding: 10px; 
}

.language select option:hover {
    background-color: #555; 
}

